/*
__ __ __ __
| Progres |
|  Title  |
__ __ __ __
|         |
| Dialog  |
|         |
|         |
__ __ __ __
| Bottom  |
__ __ __ __

CSS is arranaged from Top to Bottom
*/

/* Universal Styles */

@font-face {
  font-family: varelaRound;
  src: url(../VarelaRound-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: varelaRound;
}

body {
  color: #4c4c4c
}

p {
  font-family: varelaRound, monospace
}

a { text-decoration: none; }

/* Progress Bar */
#progress-bar {
  width: 98%;
  height: 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  text-align: center;
  margin-left: 0.5px;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 98%;
  background-color: #ffffff;
  z-index: 200;
}

/* Title Section */
.story-title {
  margin-top: 8px;
  text-align: center;
  font-size: 20px; 
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

.story-title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-text {
  text-align: center;
}

.intro-arabic-text {
  font-size: 32px;
}

.intro-sub-text {
  font-size: 24px;
}

.intro-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  padding-top: 20px;
}

.intro-image:hover {
  animation: wobble .5s 1
}

.intro-image:focus {
  animation: wobble .5s 1
}


/* Dialog Section */
#dialog-group {
  height: auto;
  overflow-y: scroll;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.dialog-container {
  color: #afafaf;
  display: flex;
  flex: 1 1 auto;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.68;
  margin: 2px 10px 10px 39px;
  max-width: 100%;
  position: relative;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.dialog-avatar {
  display: flex;
  height: 50px;
  margin-right: 12px;
  width: 50px;
}

.dialog-avatar:hover, .dialog-avatar.focus {
  animation: wobble .5s 1
}

.dialog-box {
  display: inline-block;
  margin-top: 0;
  position: relative;
  background-color: #fff;
  border: 2px solid #dedede;
  border-radius: 14px;
  border-top-left-radius: 0;
  max-width: 80%;
  padding: 10px 12px;
  color: black;
}

.speak-icon {
  float: left;
  height: 30px;
  width: 30px;
  padding-right: 8px;
}

.coffee-icon {
  /* animation: wobble .5s 1 */
}

.hide { display: none;}

.question-container {
  border-radius: 10px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 20px;
  padding-left: 5px;
}

input[type='radio'] { 
  transform: scale(2);
  margin: 10px;
}

/* Bottom Area */
.bottom-area {
  background-color: #ffffff;
  border-top: gray solid;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.continue-button {
  background-color: #58CC02;
  color: #fff;
  border-width: 0 0 4px;
  padding: 16px 16px;
  font-size: 15px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 16px;
  border-style: solid;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow:#58AA02;
  display: block;
  width: 250px;    
  margin: 0 auto;
}

#feedback-text {
  font-weight: bold;
  font-size: 24px;
  margin: 16px;
  text-align: center;
}

.dictionary-pair {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

/* Special Pop up dialog text */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10000000;
}

/* Dotted underline on translatable words */
.decoration {
  border-bottom: 2px dotted #000;
  text-decoration: none;
}

/* Dotted underline used if there are two translatable words in a dialogue */
.decoration-two {
  border-bottom: 2px dotted #FF0000;
  text-decoration: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #EEE;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  z-index: 10000000;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #EEE transparent transparent transparent;
  z-index: 10000000;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  z-index: 10000000;
}

/* Add animation (fade in) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.loading.show-loading {
  animation: loading-fade 1s 1 linear both;
}

.loading.hide-loading {
  animation: loading-fade-backwards 1s 1 linear both;   
  animation-direction: reverse;
}

/* Animations */
@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}